<section>

    <ul>
        <li *ngFor="let task of TaskList"> 
            <div class="item">
                <textarea name="" id="" cols="30" rows="3"  [(ngModel)]="task.title" (keyup.enter)="updateTask(task)"></textarea>
                <select [(ngModel)]="task.status" (change)="updateTask(task)">
                    <option value="Pendente">Pendente</option>
                    <option value="Em Progresso">Em Progresso</option>
                    <option value="Concluida">Concluida</option>
                </select>
                <button (click)="deleteTask(task)">
                    <img src="assets/icons/icon-trash.png" alt="">
                </button>
            </div>
        </li>
    </ul>

</section>

<app-task-input-add (emitItemTask)="ngOnInit()"></app-task-input-add>
<app-task-delete-all *ngIf="TaskList.length" (click)="deleteAllTasks()"></app-task-delete-all>


